
.App {
    transition: 0.5s;

    &__container {
        display: flex;
        flex-direction: column;

        width: 100vw;
        height: 100vh;

        & > main {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}

body {
    color: #fff;
    background-color: #ccc;
    overscroll-behavior-x: none;
}

.white {
    background-color: #fff !important;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.invisible {
    visibility: hidden;

    opacity: 0;
}
.selected {
    background-color: rgba(71, 129, 185, 0.15) !important;
}
