@import "~shared/utils/constants";

$historybox-height: 60vh;
$historybox-header-height: 30px;
$historybox-width: 250px;


.historybox {
    width: $historybox-width;
    border: 5px solid $secondary-color;
    background-color: $primary-color;

    position: absolute;
    left: $itemnav-width;
    bottom: 0px;
    z-index: 4;

    overflow-y: hidden;

    padding-bottom: 10px;

    transition: all 0.5s;

    @media (max-width: 768px) and (orientation:portrait) {
        position: absolute;
        margin-bottom: $itemnav-height;
        left: 0px;

        max-height: calc((40vh) + (#{$historybox-header-height}));
    }

    & > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 10px 5px;

        height: $historybox-header-height;

        & > span:first-child {
            font-size: 30px;
        }
        & > span:last-child {
            font-size: 40px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    & > div:last-child {
        height: $historybox-height;

        overflow-y: scroll;
        
        scrollbar-width: thin;
        scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 65%);

        &::-webkit-scrollbar {
            width: 7px;  // vertical scrollbars
            height: 7px; // horizontal scrollbar
        }

        &::-webkit-scrollbar-thumb {
            background: hsl(0, 0%, 30%);
            border-radius: 15px;
        }

        @media (max-width: 768px) and (orientation:portrait) {
            max-height: 40vh;
        }
    }

    &__move {
        & > div:last-child {
            left: 0px;

            @media (max-width: 768px) and (orientation:portrait) {
                margin-bottom: 0px;
            }
        }
    }

    &__entry {
        height: auto;
        line-height: 30px;
        padding: 10px;

        margin: 5px;
        text-align: center;

        border: 1px solid $secondary-color;
        border-radius: 7px;
    }

    &__groupentry {
        margin: 5px;

        border: 1px solid $secondary-color;
        border-radius: 7px;

        padding: 5px;

        & > span {
            font-size: 18px;
        }
    }

}
