@import "~shared/utils/constants";

$historybox-height: 60vh;
$historybox-width: 250px;

$itemnav-height: 500px;

.historybox {
    width: $historybox-width;
    height: $historybox-height;

    border: 5px solid $secondary-color;
    background-color: $primary-color;

    position: absolute;
    left: $itemnav-width;
    bottom: 0px;
    z-index: 4;

    overflow-y: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    transition: all 0.5s;

    @media (max-width: 768px) {
        position: absolute;
        margin-bottom: $itemnav-height;
        left: 0px;

        height: calc(100% - (475px) - (50px));
    }

    &__move {

        @media (min-width: 768px) {
            left: 0px;            
        }

        @media (max-width: 768px) {
            margin-bottom: 0px;
            left: 0px;
            height: $historybox-height;
        }
    }

    

    &__entry {
        height: 50px;
        line-height: 50px;

        margin: 5px;
        text-align: center;

        border: 1px solid $secondary-color;
        border-radius: 7px;
    }

    &__groupentry {
        margin: 5px;

        border: 1px solid $secondary-color;
        border-radius: 7px;

        padding: 5px;
        
        & > span {
            font-size: 18px;
        }
    }

}
