@import "~shared/utils/constants";


$historybox-width: 240px;
$historybox-height: 400px;
$historybox-header-height: 60px;
$historybox-content-height: 335px;


.historybox {
    position: absolute;
    background: transparent;

    & > .box {
        top: 5px;
        left: 5px;
        position: absolute;
        min-width: $historybox-width;
        min-height: $historybox-height;

        border-radius: 0px 15px;
        background-color: $primary-color;
        border: 5px solid $secondary-color;

        & > .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $historybox-header-height;

            border: 5px $secondary-color;
            border-style: none none solid none;


            & > span:first-child {
                flex-grow: 1;
                font-size: 30px;
                cursor: all-scroll;
                padding: 12px 15px;
            }
            & > span:last-child {
                font-size: 40px;
                cursor: pointer;
                padding: 7px 16px;
            }
        }

        & > .content {
            overflow-y: scroll;
            min-width: $historybox-width;
            min-height: $historybox-content-height;

            &::-webkit-scrollbar {
                width: 11px;
                background: $primary-color;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 15px;
                background: hsl(0, 0%, 30%);
            }

        }
    }

    @media (orientation:portrait) {
        position: absolute;
        min-bottom: $itemnav-height;
    }

    &__separator {
        padding-bottom: 2px;
        margin-left: 5px;
        margin-bottom: 2px;
        border-bottom: 2px solid $secondary-color;
    }

    &__entry, &__groupentry {
        margin: 5px;
        padding: 5px;

        line-height: 30px;

        border-radius: 7px;

        cursor: pointer;

        &--dashed {
            border: 2px dashed $secondary-color;
        }

        &__header {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__extrainfo {
            margin-left: 5px;
        }
    }

    &__entry {
        &__header {
            & > span {
                margin-left: 5px;
            }
        }
    }
    &__groupentry {
        &__header {
            justify-content: space-between;

            & > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                & > span {
                    margin-left: 5px;
                }
            }
            & > span {
                margin-right: 5px;

                font-size: 18px;

                transition: 0.5s;
                transform: rotate(90deg);
                &.collapsed {
                    transform: rotate(0deg);
                }
            }
        }
    }

    & > .resizers {
        & > .c {
            z-index: 0;
            position: absolute;
            border: 10px solid transparent;

            background: transparent;
        }

        & > .c.nw {
            top: 0px;
            left: 0px;
            cursor: nw-resize;
        }
        & > .c.ne {
            top: 0px;
            right: 0px;
            cursor: ne-resize;
        }
        & > .c.sw {
            left: 0px;
            bottom: 0px;
            cursor: sw-resize;
        }
        & > .c.se {
            right: 0px;
            bottom: 0px;
            cursor: se-resize;
        }

        & > .e {
            z-index: 0;
            position: absolute;

            background: transparent;
            border: solid transparent;
        }

        & > .e._n {
            top: 0px;
            height: 0px;
            cursor: n-resize;
            border-width: 5px 0px;
        }
        & > .e._s {
            bottom: 0px;
            height: 0px;
            cursor: s-resize;
            border-width: 5px 0px;
        }
        & > .e._w {
            left: 0px;
            width: 0px;
            cursor: w-resize;
            border-width: 0px 5px;
        }
        & > .e._e {
            right: 0px;
            width: 0px;
            cursor: e-resize;
            border-width: 0px 5px;
        }
    }
}
