# General
.DS_Store
.AppleDouble
.LSOverride
desktop.ini

# Thumbnails
._*

# Folders
.git
build
coverage
node_modules
tests
package-lock.json

# IntelliJ
.idea/

# Secrets (to prevent devs from pushing api keys to the repo)
site/secrets/
