# Set the default behavior to automatically decide
* text=auto

# Files to automatically convert the line endings of on checkout.
*.applescript       text
*.cjs               text
*.css               text    diff=css
*.go                text    diff=golang
*.html              text    diff=html
*.js                text
*.json              text
*.jsx               text
*.md                text    diff=markdown
*.mdx               text    diff=markdown
*.mod               text
*.proto             text
*.scss              text    diff=css
*.sql               text
*.sum               text
*.svg               text
*.ts                text
*.tsx               text
*.txt               text
*.xml               text
*.yml               text
.env.development    text
.env.production     text
.gitattributes      text
.gitignore          text
LICENSE             text
yarn.lock           text

# Files to keep as binary and not convert.
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.circuit binary
*.ico binary
