# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.env*.local

.docusaurus

docs/ts/app/core
docs/ts/app/digital

.devCache
node_modules
coverage
build
site/data/config.txt
src/site/pages/analog/src/lib/ngspice.js
src/site/pages/analog/src/lib/ngspice.wasm
tests/index.js
app.yaml
yarn-error.log

# IntelliJ
.idea/

# Secrets (to prevent devs from pushing api keys to the repo)
src/secrets/
