# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.env*.local

.docusaurus

docs/ts/app/core
docs/ts/app/digital

.devCache
node_modules
coverage
build
site/data/config.txt
src/projects/analog/site/src/lib/ngspice.js
src/projects/analog/site/src/lib/ngspice.wasm
tests/index.js
app.yaml
yarn-error.log

.eslintcache

# IntelliJ
.idea/

# VScode
.vscode/

# Secrets (to prevent devs from pushing api keys to the repo)
src/secrets/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
