.numberinputfield {
    display: inline-flex;
}

.numberinputfield input {
    display: inline;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.numberinputfield button {
    display: block;
    width: 25px;
    height: 13px;
    line-height: 0px;
    font-size: 0.5em !important;
    font-weight: bold !important;
    margin-top: 0px !important;
    padding: 0px 5px 0px 5px !important;
}
