@use "sass:math";
@import "~shared/utils/constants", "~shared/utils/theme", "../constants";

.header__left {
    margin-left: 12px;

    & div {
        float: left;

        height: $header-height - 2*$header-padding;
        margin-top: $header-padding;
    }
    &__save {
        line-height: $header-button-height;

        height: $header-button-height;
        margin-top: $header-padding;
        padding-right: 7px;
        padding-left: 7px;

        cursor: pointer;
        transition: 0.5s;

        color: #ddd;
        border-radius: 4px;
        background-color: $success-color;

        &:disabled {
            color: #666;
            background-color: transparent;
            border: 1px solid black;
        }

        &:enabled:hover {
            color: #ccc;
            border-color: #aaa;
            background-color: darken($success-color, 10%);
        }
    }
    &__duplicate {
        height: 40px;
        padding: 5px;
        cursor: pointer;
        margin-left: 7px;
        color: #ccc;

        transition: 0.5s;

        &:hover {
            background-color: lighten($primary-color, 10%);
        }
    }
    &__saving__icons {
        & > img {
            margin-left: 7px;
            margin-top: 7px;
        }
        & > span {
            &::after, &::before {
                content: "";
                position: absolute;
                margin-left: 7.5px + 4px;
                margin-top: 7.5px + 4px;
                width: 15px;
                height: 15px;
                border-radius: 7.5px;
                background-color: #888;
                opacity: 0.5;
                animation: loadpulse 2s infinite linear;
            }
            &::before {
                animation-delay: 1s;
            }

            @keyframes loadpulse {
                0%   { transform: scale(0.3, 0.3); }
                50%  { transform: scale(1.5, 1.5); }
                100% { transform: scale(0.3, 0.3); }
            }
        }
    }
    &__lock {
        margin-top: math.div($header-height - $header-lock-height, 2) - $header-border-width;
        margin-right: 5px;

        cursor: pointer;

        background-color: transparent;

        img {
            height: $header-lock-height;
        }
    }
    & input {
        font-size: 24px;
        width: 175px; // @TODO: Auto-adjust to fit within a min/max width
        height: $header-height - 2*$header-padding;
        margin-right: 10px;

        color: $secondary-color;

        text-overflow: ellipsis;
    }
    & span {
        font-size: 24px;
        line-height: $header-height - 2*$header-padding;

        margin-right: 10px;

        cursor: pointer;
        vertical-align: middle;

        color: $secondary-color;
    }
}
