@import "~shared/utils/constants";


.App {
    transition: 0.5s;

    &__container {
        position: absolute;

        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        & > main {
            position: absolute;

            left: 0;
            top: $header-height;
            width: 100%;
            height: calc(100vh - #{$header-height});
        }
    }
}

body {
    color: #fff;
    background-color: #ccc;
    overscroll-behavior-x: none;
}

.white {
    background-color: #fff !important;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.invisible {
    visibility: hidden;

    opacity: 0;
}
.selected {
    background-color: rgba(71, 129, 185, 0.15) !important;
}
