@use "~shared/site/utils/theme" as *;


.simcontrols {
    position: absolute;

    right: 5px;
    top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    color: #eeeeee;

    &__area {
        display: flex;
        align-items: center;
        z-index: 1;

        height: 35px;
        padding: 5px 10px;

        background-color: transparentize($background-color, 0.6);
        border: 2px solid $secondary-color;
        border-radius: 30px;

        &.closed {
            width: 0;
            margin-right: -50px;
            opacity: 0;

            pointer-events: none;
        }
        &.open {
            width: 100%;
            margin-right: 10px;
            opacity: 1;
        }

        overflow: hidden;
        white-space: nowrap;

        transition: width 1.0s linear, margin-right 1.0s linear, opacity 1.0s linear;

        & > button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;

            border-radius: 30px;
            padding: 5px;

            &:hover {
                background-color: rgba($secondary-color, 0.4);
            }
            &:disabled {
                opacity: 50%;
            }
        }

        &-separator {
            flex-shrink: 0;
            height: 80%;
            width: 2px;
            background-color: rgba($primary-color, 0.8);
            margin: 0 10px;
        }

        &__slider {
            display: flex;
            align-items: center;

            color: $primary-color;

            & > span {
                font-size: x-small;
                font-weight: bold;
            }

            & > input[type="range"] {
                width: 80px;
                height: 5px;
    
                border-radius: 5px;
    
                background-color: rgba($secondary-color, 0.8);
                -webkit-appearance: none;
                appearance: none;
                accent-color: $primary-color;

                margin: 0 10px;

                cursor: pointer;
            }

            & > .numberinputfield {
                background-color: transparentize($secondary-color, 0.4);

                padding: 5px;
                border-radius: 5px;
                margin-right: 10px;
    
                text-align: center;

                & > input {
                    width: 40px;
                    text-align: center;
                    padding: 0;
                }
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        z-index: 2;

        width: 50px;
        height: 50px;
        padding: 5px;
        background-color: transparentize($background-color, 0.6);

        border: 2px solid $secondary-color;
        border-radius: 30px;

        & > img {
            flex: 1 1 auto;
        }
    }
}