@use "sass:math";
@import "~shared/utils/theme";

.popup {
    $width: 80%;
    $h-padding: 40px;

    position: absolute;
    z-index: 9;
    top: 5vh;
    bottom: 5vh;
    left: 50%;

    overflow: auto;

    width: $width;
    max-height: 85vh;
    margin-left: calc(-#{math.div($width,2)} - #{$h-padding});
    padding: 15px $h-padding 25px;

    border-radius: 10px;
    background: #fff;

    color: #000;

    & > h1 {
        font-weight: normal;

        margin-bottom: 20px;
        padding-bottom: 5px;

        text-align: center;

        color: #666;
    }
    & > h2 {
        font-weight: normal;

        text-align: left;

        color: #444;
    }
    & > ul {
        padding-left: 10px;

        & > li {
            margin-bottom: 5px;

            list-style-type: none;
        }
    }
}

.cancel {
    background-color: $danger-color;
    margin-right: 10px;

    &:enabled:hover {
        background-color: darken($danger-color, 20%);
    }
}