.login__popup {
    & input {
        font-size: 100%;

        width: 30%;
        padding: 3px;

        color: #000;
        border: 1px solid #bbb;
        border-radius: 3px;
    }
    & button {
        font-size: 0.8em;

        width: 30%;
        padding: 4px;

        cursor: pointer;
        text-align: center;

        border: thin solid black;
        border-radius: 3px;
        background-color: #eee;

        &:hover {
            background-color: #ddd;
        }
        &:active {
            background-color: #ccc;
        }
    }
    & div {
        text-align: center;
    }

    & hr {
        margin-top: 20px;
    }

    &__text {
        margin-top: 5px;
        margin-bottom: 5px;

        text-align: center;

        color: #666;
    }
    &__label {
        font-weight: normal;

        margin-top: 20px;
        margin-bottom: 6px;

        color: #666;
    }
    &__password__container {
        position: relative;

        margin-bottom: 20px;
    }
    &__password__link {
        position: absolute;
        top: 3px;
        right: 0;
    }
    &__password__recoverpassword {
        font-size: 75%;

        cursor: pointer;
        text-decoration: underline;

        color: rgba(0, 0, 0, 0.5);
    }
}

#login-popup-google-signin {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}
