
.timecontrol {
    position: absolute;
    z-index: 100;
    right: 0;

    &:hover {
    }
    & p {
        float:right;
        text-align: right;
    }
    & > button{
        border: thin solid;
        border-color: blue;
        &:hover {
            border-color: red;
        }
    }
}
