@import "~shared/utils/constants", "~shared/utils/theme";

.timecontrol {
    position: absolute;
    z-index: 100;
    right: 0;

    background-color: $primary-color;
    & p {
        float:right;
        text-align: right;
    }
    & > button{
        margin: 5px;
        &:hover {
            // border-color: red;
            background-color: lighten($primary-color, 20%);
        }
        & > img{
            // margin: 5px;
            width: 20px;
        }
        // & > .singleimg{
        //     margin: 5px;
        //     width: 20px;
        // }
        // & > div {
        //     margin: 5px;
        //     & > img{
        //         width: 20px;
        //     }
        // }
    }
}
