@import "~shared/utils/theme";

$sidenav-width: 250px;
$sidenav-border-width: 5px;

$sidenav-message-margin: 25px;

$sidenav-footer-height: 50px;
$sidenav-footer-margin-y: 10px;

$historybox-height: 60vh;
$historybox-width: 250px;

.sidenav {
    position: fixed;
    z-index: 6;
    left: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    width: $sidenav-width;
    height: 100%;

    transition: all 0.5s;

    border: 0 solid $secondary-color;
    border-right-width: $sidenav-border-width;
    background-color: $primary-color;

    &__move {
        left: -$sidenav-width - $sidenav-border-width;
    }

    &__accountinfo {
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;

        height: 60px;
        padding-left: 0.5em;

        color: $secondary-color;
        border: 0 solid $secondary-color;
        border-bottom-width: 3px;
        background-color: lighten($primary-color, 20%);
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: calc(100% - 60px);

        overflow-y: auto;
    }
    &__content {
        // max-height: 100%;
        flex: 1;

        & h4 {
            font-size: 24px;

            display: block;

            margin: 0;
            padding: 0.5em 1em 0.5em 0.5em;

            cursor: default;
            transition: 0.5s;

            color: lighten($secondary-color, 10%);
            border: 0 solid $secondary-color;
            border-bottom-width: 3px;
            background-color: lighten($primary-color, 10%);
        }
        &__footer {
            height: 120px;
            padding: 50px 25px 50px 25px;

            text-align: center;

            color: $secondary-color;

            & a {
                text-decoration: none;

                color: lighten($secondary-color, 25%);
            }
        }
    }

    &__footer {
        position: relative;

        height: $sidenav-footer-height;
        padding: 10px 25px 10px 25px;

        flex-shrink: 0;

        &__history {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    &__circuit {
        $img-width: 50px;
        $height: 50px;
        $padding-v: 4px;
        $padding-h: 6px;

        height: $height;
        padding: $padding-v $padding-h $padding-v $padding-h;

        border-bottom: solid $sidenav-border-width/3 $secondary-color;
        background-color: lighten($primary-color, 5%);

        cursor: pointer;
        display: flex;

        &__icon {
            img {
                width: $img-width;
                height: $img-width;

                border-radius: 5px;
                background-color: $background-color;
            }
            width: $img-width;
            padding: 0 5px 0 0;
        }
        &__text {
            display: inline-block;

            flex-grow: 1;
            width: 50px;

            vertical-align: top;
            & div {
                display: block;
                overflow: hidden;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__name {
                font-weight: bold;

                margin-top: 7px;
            }
        }
        &__controls {
            width: 20px;
            padding: 0 0 0 5px;
            img.circuit_options {
                height: 100%;
            }
        }
    }
}

.historybox {
    width: $historybox-width;
    height: $historybox-height;

    border: $sidenav-border-width solid $secondary-color;
    background-color: $primary-color;

    position: absolute;
    left: $sidenav-width;
    bottom: 0px;
    z-index: 6;

    overflow-y: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    &__entry {
        height: 50px;
        line-height: 50px;

        margin: 5px;
        text-align: center;

        border: 1px solid $secondary-color;
        border-radius: 7px;
    }

}

.sidenav__shift {
    margin-left: $sidenav-width;
}
