@import "~site/utils/theme";

$sidenav-width: 250px;
$sidenav-border-width: 5px;

.sidenav {
    position: fixed;
    z-index: 6;
    left: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    width: $sidenav-width;
    height: 100%;

    transition: all 0.5s;

    border: 0 solid $secondary-color;
    border-right-width: $sidenav-border-width;
    background-color: $primary-color;

    &__move {
        left: -$sidenav-width - $sidenav-border-width;
    }

    &__accountinfo {
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;

        height: 60px;
        padding-left: 0.5em;

        color: $secondary-color;
        border: 0 solid $secondary-color;
        border-bottom-width: 3px;
        background-color: lighten($primary-color, 20%);
    }
    &__content {
        overflow-y: auto;

        height: 100%;

        & h4 {
            font-size: 24px;

            display: block;

            margin: 0;
            padding: 0.5em 1em 0.5em 0.5em;

            cursor: default;
            transition: 0.5s;

            color: lighten($secondary-color, 10%);
            border: 0 solid $secondary-color;
            border-bottom-width: 3px;
            background-color: lighten($primary-color, 10%);
        }
        &__footer {
            height: 120px;
            padding: 50px 25px 50px 25px;

            text-align: center;

            color: $secondary-color;

            & a {
                text-decoration: none;

                color: lighten($secondary-color, 25%);
            }
        }
    }
    &__circuit {
        $img-width: 50px;
        $height: 50px;
        $padding-v: 4px;
        $padding-h: 6px;

        display: flex;

        height: $height;
        padding: $padding-v $padding-h $padding-v $padding-h;

        cursor: pointer;

        border-bottom: solid $sidenav-border-width/3 $secondary-color;
        background-color: lighten($primary-color, 5%);

        &__icon {
            width: $img-width;
            padding: 0 5px 0 0;
            img {
                width: $img-width;
                height: $img-width;

                border-radius: 5px;
                background-color: $background-color;
            }
        }
        &__text {
            display: inline-block;
            flex-grow: 1;

            width: 50px;

            vertical-align: top;
            & div {
                display: block;
                overflow: hidden;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__name {
                font-weight: bold;

                margin-top: 7px;
            }
        }
        &__controls {
            width: 20px;
            padding: 0 0 0 5px;
            img.circuit_options {
                height: 100%;
            }
        }
    }
}

.sidenav__shift {
    margin-left: $sidenav-width;
}
