{{define "sidenavcircuit"}}
<div id="example-circuit-{{ .ID }}" class="sidenav__content__circuit" title="Load example circuit">
    <span class="sidenav__content__circuit__icon">
        <img src="{{ .Thumbnail }}">
    </span>
    <span class="sidenav__content__circuit__text">
            <div class="sidenav__content__circuit__text__name">{{ .Name }}</div>
            <div class="sidenav__content__circuit__text__desc">{{ .Desc }}</div>
    </span>
</div>
{{end}}
