@use "sass:math";
@import "~shared/utils/theme";

$header-height: 62px;
$header-border-width: 5px;

$header-border: 0 solid $secondary-color;

$itemnav-width: 235px; // On wide screens, ItemNav is on the left
$itemnav-height: 250px; // On small screens, ItemNav is on the bottom

$desktop-width: 768px;


// Allows our variables to be imported to javascript without units.
:export {
    desktopWidth: div($desktop-width, 1px);
}
