.header__dropdown {
    position: relative;

    display: inline-block;
}
#header-download-dropdown-content {
    height: auto;
    margin-top: 0;
}
/*
    TRIANGLE THINGY FOR 'POPOVER' MENU
    https://ux.stackexchange.com/questions/117118/what-is-the-difference-between-popover-menu-drop-down-menu-fly-out-menu
    https://codepen.io/mihaeltomic/pen/PqxVaq?editors=1100
    might be useful for future
 */
/* .header__dropdown__content:before {
    position: absolute;
    content: "";
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
} */
.header__dropdown__content {
    position: absolute;
    top: 100%;
    right: 0;

    display: none;

    padding: 5px;

    border-radius: 6px 0 6px 6px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}
.header__dropdown__content a {
    font-size: .5;

    padding: 12px 16px;

    color: #888;
}
.header__dropdown__content img {
    display: inline;

    vertical-align: middle;
}
.header__dropdown__content div {
    float: left;

    width: 100%;

    white-space: nowrap;
}
.header__dropdown__content div:hover {
    background-color: #f1f1f1;
}
.header__dropdown:hover .header__dropdown__button {
    background-color: #444;
}
