@import 'theme';

$header-height: 50px;
$header-padding: 5px;
$header-border-width: 5px;
$header-total-height: $header-height + 2*$header-padding + $header-border-width;

$header-border: 0 solid $secondary-color;

header {
    position: fixed;
    z-index: 3;

    width: 100%;
    height: $header-height;
    padding: $header-padding;

    border: $header-border;
    border-bottom-width: $header-border-width;
    background-color: #222;
}


.header__left {
    float: left;

    margin-top: $header-height/2 - 25px/2;

    border: 0;

    &__sidenavbutton {
        font-size: 24px;

        cursor: pointer;

        color: $secondary-color;
    }
    &__projectname {
        font-size: 24px;

        width: 20vw;

        color: $secondary-color;
    }
}


.header__center__logo {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 50%;

    width: 200px;
    margin-left: -100px;

    color: $secondary-color;

    @media (max-width: 512px) {
        & {
            display: none;
        }
    }
}


.header__right {
    margin-right: 1%;

    & div {
        float: right;

        height: 40px;
        margin-top: 5px;

        cursor: pointer;
    }
    & button {
        height: 40px;

        cursor: pointer;
    }
    & img {
        display: block;

        margin: auto;
    }
}
