$header-height: 50px;
$header-padding: 5px;
$header-border-width: 5px;
$header-total-height: $header-height + 2*$header-padding + $header-border-width;

$header-border: 0 solid $secondary-color;

$header-button-height: 30px;

header {
    position: fixed;
    z-index: 3;

    width: 100%;
    height: $header-height;
    padding: $header-padding;

    border: $header-border;
    border-bottom-width: $header-border-width;
    background-color: $primary-color;
}


.header__left {
    margin-left: 7px;

    & div {
        float: left;

        height: $header-height - 2*$header-padding;
        margin-top: $header-padding;

        cursor: pointer;
    }
    & button {
        height: $header-button-height;
        line-height: $header-button-height;
        margin-top: $header-padding;
        padding-right: 7px;
        padding-left: 7px;

        cursor: pointer;

        color: #ddd;
        border-radius: 4px;
        background-color: $success-color;
        &:hover {
            color: #ccc;
            border-color: #aaa;
            background-color: darken($success-color, 10%);
        }
    }
    & input {
        font-size: 24px;

        width: 175px; // @TODO: Auto-adjust to fit within a min/max width
        height: $header-height - 2*$header-padding;
        margin-right: 10px;

        color: $secondary-color;
    }
    & span {
        font-size: 24px;
        line-height: $header-height - 2*$header-padding;

        margin-right: 10px;
        color: $secondary-color;

        vertical-align: middle;
    }
}

.header__center__logo {
    position: absolute;
    top: 2px;
    bottom: 0;
    left: 50%;

    width: 200px;
    margin-left: -100px;

    color: $secondary-color;

    @media (max-width: 900px) {
        & {
            display: none;
        }
    }
}


.header__right {
    margin-right: 14px;

    & div {
        float: right;

        height: $header-height - 2*$header-padding;
        margin-top: $header-padding;

        cursor: pointer;
    }
    & button {
        height: $header-height - 2*$header-padding;
        margin-left: $header-padding;

        cursor: pointer;
    }
    & img {
        display: block;

        height: 85%;
        margin: auto;
    }
    & span {
        line-height: $header-height - 2*$header-padding;

        float: right;

        vertical-align: middle;
    }
    #header-help-img {
        height: 75%;
    }

    &__dropdown {
        position: relative;

        display: inline-block;

        & div {
            height: auto;
            margin-top: 0;
        }

        &__content {
            position: absolute;
            top: 100%;
            right: 0;

            display: none;

            padding: 10px;
            padding-top: 15px;

            border-radius: 6px 0 6px 6px;
            background-color: #fff;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

            & h1 {
                font-size: 1.5em;

                margin: 0;
                margin-top: 10px;
                padding: 0;

                color: darken($secondary-color, 20%);
            }
            & h1:first-child {
                margin-top: 0;
            }
            & hr {
                margin: 0;
            }
            & a {
                padding: 12px 16px;

                color: $secondary-color;
            }
            & img {
                display: inline;

                vertical-align: middle;
            }
            & div {
                float: left;

                width: 100%;
                height: 40px;
                padding-top: 5px;

                white-space: nowrap;
            }
            & div:last-child {
                padding-bottom: 0;
            }
            & div:hover {
                background-color: #f1f1f1;
            }

            .disabled {
                background-color: darken(white, 10%);
            }
        }
        &:hover &__button {
            background-color: lighten($primary-color, 10%);
        }
    }

    &__account {
        margin-top: 0;
        margin-right: 10px;

        cursor: default;

        & div {
            margin-top: 0;
        }
        & button {
            float: right;

            height: $header-button-height;
            line-height: $header-button-height;
            margin-top: $header-padding;
            margin-left: 0;
            padding-right: 5px;
            padding-left: 5px;

            cursor: pointer;

            color: #aaa;
            border: thin solid #888;
            border-radius: 4px;

            &:hover {
                color: #bbb;
                border-color: #aaa;
            }
        }

        #header-login-or {
            margin-right: 10px;
            margin-left: 10px;

            color: #aaa;
        }

        @media (max-width: 500px) {
            & {
                display: none;
            }
        }
    }
}


#header-login-dropdown-content {
    height: auto;
    margin-top: 0;
}
div.header__login__option {
    height: auto;
}
/*
    TRIANGLE THINGY FOR 'POPOVER' MENU
    https://ux.stackexchange.com/questions/117118/what-is-the-difference-between-popover-menu-drop-down-menu-fly-out-menu
    https://codepen.io/mihaeltomic/pen/PqxVaq?editors=1100
    might be useful for future
 */
/* .header__dropdown__content:before {
    position: absolute;
    content: "";
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
} */
