$itemnav-width: 215px;

$tab-width: 18px;
$tab-padding: 8px;

.itemnav {
    position: fixed;
    z-index: 2;
    bottom: 0;

    overflow-x: hidden;

    width: $itemnav-width;
    height: calc(100% - #{$header-total-height});

    transition: .5s;

    border: $header-border;
    border-right-width: $header-border-width;
    background-color: rgba($background-color, .7);

    & h4 {
        font-size: 24px;

        margin-bottom: 15px;

        cursor: default;
        transition: .5s;
        text-align: center;

        color: #fff;
        text-shadow: -1px 1px 3px darken(#fff, 40%);
    }
    & button {
        font-size: 1em;
        font-weight: bold;

        width: calc(49% - 5px);
        padding: 1vh 1vh 1vh 1vh;

        cursor: pointer;
        transition: .3s;

        color: darken($secondary-color, 5%);
    }
    & img {
        width: 100%;
    }
}

.tab {
    font-size: 2em;

    position: fixed;
    z-index: 4;
    top: $header-total-height - $header-border-width;
    left: 0;

    width: $tab-width;
    padding: 0 $tab-padding 0 $tab-padding;

    cursor: pointer;
    transition: .5s;

    color: #000;
    border: $header-border;
    border-width: $header-border-width;
    border-bottom-right-radius: 15px;
    background-color: rgba($background-color, .7);

    &:after {
        content: '+';
    }

    &__closed {
        font-size: 2.5em;

        left: $itemnav-width - ($tab-width + 2*$tab-padding + 2*$header-border-width) - 15px;

        border-color: transparent;
        background-color: transparent;

        &:after {
            content: '×';
        }
    }
}
