.login__popup {
    z-index: 9;
    position: absolute;
    padding: 15px 40px 25px;
    width: 300px;
    top: 10vh;
    left: 50%;
    margin-left: -190px;
    max-height: 85vh;
    overflow: auto;
    background: #fff;
    border-radius: 10px;

    & h1 {
        color: #666;
        font-weight: normal;
        padding-bottom: 5px;
        text-align: center;
        margin-bottom: 20px;
    }
    & input {
        width: 100%;
        font-size: 100%;
        padding: 3px;
        color: #000;
        border: 1px solid #bbb;
        border-radius: 3px;
    }
    & button {
        width: 100%;
        cursor: pointer;
        background-color: #eee;
        text-align: center;
        border: thin solid black;
        border-radius: 3px;
        font-size: 0.8em;
        padding: 4px;
    }
    & button:hover {
        background-color: #ddd;
    }
    & button:active {
        background-color: #ccc;
    }

    &__text {
        text-align: center;
        color: #666;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__label {
        color: #666;
        font-weight: normal;
        margin-top: 20px;
        margin-bottom: 6px;
    }
    &__password__container {
        position: relative;
        margin-bottom: 20px;
    }
    &__password__link {
        position: absolute;
        top: 3px;
        right: 0;
    }
    &__password__recoverpassword {
        color: rgba(0, 0, 0, 0.5);
        font-size: 75%;
        text-decoration: underline;
        cursor: pointer;
    }
}

#login-popup-google-signin {
    margin-top: 20px;
    margin-left: calc(300px/2 - 240px/2);
    margin-bottom: 20px;
}
