$navbar-height: 50px;
$navbar-padding: 5px;
$navbar-border-width: 5px;
$navbar-total-height: $navbar-height + 2*$navbar-padding + $navbar-border-width;

$navbar-border: 0 solid #888;

$navbar-button-height: 30px;
$navbar-lock-height: 18px;

#navbar {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    height: $navbar-height;
    padding: $navbar-padding;

    border: $navbar-border;
    border-bottom-width: $navbar-border-width;
    background-color: #222;
}

.navbar {
    $button-width: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    color: #888888;


    &_github {
        top: 8px;

        width: $navbar-height - 2*$navbar-padding;
        height: $navbar-height - 2*$navbar-padding;
        margin-left: -$button-width;

        @extend .navbar;
    }

    &_home {
        top: $navbar-height/2 - $navbar-padding;
        margin-left: 0px;

        @extend .navbar;
    }

    &_about {
        top: $navbar-height/2 - $navbar-padding;
        margin-left: $button-width;

        @extend .navbar;
    }
}

#navbar a:hover { color: white; }
