$sidenav-width: 250px;
$sidenav-border-width: 5px;

.sidenav {
    position: fixed;
    z-index: 6;
    left: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    width: $sidenav-width;
    height: 100%;

    transition: all 0.5s;

    border: 0 solid $secondary-color;
    border-right-width: $sidenav-border-width;
    background-color: $primary-color;

    &__move {
        left: -$sidenav-width - $sidenav-border-width;
    }

    &__accountinfo {
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;

        height: 60px;
        padding-left: 0.5em;

        color: $secondary-color;
        border: 0 solid $secondary-color;
        border-bottom-width: 3px;
        background-color: lighten($primary-color, 20%);
    }
    &__content {
        overflow-y: auto;

        height: 100%;

        & h4 {
            font-size: 24px;

            display: block;

            margin: 0;
            padding: 0.5em 1em 0.5em 0.5em;

            cursor: pointer;
            transition: 0.5s;

            color: lighten($secondary-color, 10%);
            border: 0 solid $secondary-color;
            border-bottom-width: 3px;
            background-color: lighten($primary-color, 10%);
        }
        &__switch {
            position: relative;

            display: inline-block;

            width: 100%;
            height: 34px;

            & input {
                opacity: 0;
            }
        }
        &__circuit {
            $img-width: 50px;
            $height: 50px;
            $padding-v: 4px;
            $padding-h: 6px;

            height: $height;
            padding: $padding-v $padding-h $padding-v $padding-h;

            border-bottom: solid $sidenav-border-width/3 $secondary-color;
            background-color: lighten($primary-color, 5%);

            & img {
                width: $img-width;
                height: $img-width;

                border-radius: 5px;
                background-color: $background-color;
            }
            &__text {
                display: inline-block;

                width: $sidenav-width - $img-width - $sidenav-border-width - $padding-h*2 - 20px;

                vertical-align: top;
                & span {
                    display: block;
                    overflow: hidden;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &__name {
                    font-weight: bold;

                    margin-top: 7px;
                }
            }
        }
        &__footer {
            height: 120px;
            padding: 50px 25px 50px 25px;

            text-align: center;

            color: $secondary-color;

            & a {
                text-decoration: none;

                color: lighten($secondary-color, 25%);
            }
        }
        &__slider {
            font-size: 20px;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            cursor: pointer;
            -webkit-transition: 0.4s;
                    transition: 0.4s;

            background-color: $primary-color;

            &:after {
                float: right;

                margin-top: calc(34px / 2 - 20px / 2 - 1px);
                margin-right: 10px;

                content: 'Play Mode';

                color: #565656;
            }
            &:before {
                position: absolute;
                left: 0;

                width: 50%;
                height: 34px;

                content: '';
                -webkit-transition: 0.4s;
                        transition: 0.4s;

                background-color: white;
            }
            input:checked + &:after {
                float: left;

                margin-top: calc(34px / 2 - 20px / 2 - 1px);
                margin-left: 10px;

                content: 'Edit Mode';

                color: #eee;
            }
            input:checked + & {
                background-color: #3cacf2;
            }
            input:checked + &:before {
                left: 50%;
            }
        }
    }
}

.sidenav__shift {
    margin-left: $sidenav-width;
}
