.white {
    background-color: #fff !important;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.invisible {
    visibility: hidden;

    opacity: 0;
}
.shrink {
    width: 0;

    border: 0;
}
