body {
    background-color: #444444;
    color: #BBBBBB;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151515;
    z-index: 1000;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

#gitbutton {
    float: left;
    width: 40px;
    height: auto;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}



div.allText
{
    position: absolute;
    top: 50px;
    padding-bottom: 80px;
}



div.topline{
    font-size: 50px;
}

div.smalltitle{
    font-size: 30px;
}

div.largetitle{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.maintext{
    text-align: center;
    font-size: 25px;
}

div.authors{
    padding-left: 25px;
    line-height: 1.3;
    font-size: 25px;
}

li{
    margin: 0 0 3px 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #151515;
    color: #888888;
    text-align: center;
}