@import '_navbar';

body {
    background-color: #444444;
    color: #888888;
}

#about-link { color: white; }

.about_container_1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    color: white;

    $container-width: 640px;
    position: absolute;
    top: 85px;
    left: 50%;
    margin-left: -$container-width/2;
    width: $container-width;
    padding: 5px;

    // border: 2px solid blue;
}

li {
    margin: 0 0 3px 0;
}
