@import '_navbar';
@import '_theme';

$library-width:1280px;

body {
    background-color: #eee;
    //background-image: url(../img/grid_square.png);
    //background-repeat: repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#about-link { color: white; }

.library_header_1 {
    font-size: 25px;
    color: black;

    $container-width: $library-width/2;//640px;
    position: relative;
    top: 85px;
    left: 50%;
    margin-left: -$container-width/2;
    width: $container-width;
    padding: 5px;
}

.library_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 25px;
    color: $primary-color;
    //background-color: $background-color;

    //border: 2px solid $primary-color;
    //border-radius: 5px;
    $container-width: $library-width;//1280px;
    position: relative;
    overflow-x: hidden;

    top: 85px;
    left: 50%;
    margin-left: -$container-width/2;
    width: $container-width;
    padding: 5px;
}

.ic_container {
    font-size: 20px;
    color: $primary-color;

    border: 2px solid $secondary-color;
    border-radius: 5px;
    $container-width: calc(49% - 40px);
    //position: relative;
    vertical-align: top;
    word-break: break-word;
    margin: 10px;
    width: $container-width;
    padding: 10px;

    & h4 {
        font-size: 24px;

        margin-bottom: 10px;

        cursor: default;
        text-align: left;

        color: $primary-color;
    }
    & h2 {
        font-size: 22px;
        //margin-bottom: 10px;
        display: inline;
        cursor: default;
        text-align: left;

        color: $primary-color;
    }
    & button {
        font-size: 1em;
        font-weight: bold;

        width: calc(24% - 5px);
        padding: 1vh 1vh 1vh 1vh;

        cursor: pointer;
        vertical-align: bottom;
        word-break: break-all;

        margin-top: 10px;

        background-color: $success-color;
        border-radius: 5px;
        color: #fff;
        //color: darken($secondary-color, 5%);
    }
    & button:hover {
        background-color: darken($success-color, 5%);
    }
    & img {
        float: right;
        width: 50%;
        margin-left: 10px;
    }
}

#rcos-link {
    text-decoration: none;
}

li {
    margin: 0 0 3px 0;
}
