@import 'theme', 'header', 'sidenav', 'loadingscreen',
        'itemnav', 'icdesigner', 'selectionpopup',
        'loginpopup', 'contextmenu', 'utils';

body {
    font-family: Arial, sans-serif;

    overflow: hidden;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #fff;
    outline: none;
    background-color: $background-color;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
button,
input {
    padding: 0;

    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}


.overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: .3s;

    background-color: rgba(200, 200, 200, .5);
}

.content {
    transition: .5s;
}
main {
    position: fixed;

    width: 100%;
    height: 100%;
}


.canvas {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    cursor: default;
}
