@import "~shared/utils/constants";

$itemnav-width: 235px; // On wide screens, ItemNav is on the left
$itemnav-height: 300px; // On narrow screens, ItemNav is on the bottom

$tab-width: 18px;
$tab-padding: 8px;


.itemnav {
    $top-margin: 10px;
    $top-height: 35px;
    $tab-size: $top-height + $top-margin + $header-padding;
    $nav-root: &;

    position: absolute;
    z-index: 2;

    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: $itemnav-width;

    transition: all 0.5s;

    border: $header-border;
    border-right-width: $header-border-width;
    background-color: rgba($background-color, 0.7);

    & img {
        width: 100%;
    }

    &__preview {
        position: fixed;
        z-index: 100;
        pointer-events: none;
        transform: translate(-50%, -50%);

        & img {
            position: relative;
            opacity: 1;
            z-index: 100;

            filter: drop-shadow(3px 3px 4px #888);
        }
        & > span {
            display: table-cell;

            position: absolute;
            left: calc(100% - 10px);
            top: 0;
            z-index: 101;
            transform: translate(-50%, -10px);

            vertical-align: middle;
            text-align: center;

            color: #888;
            background-color: #fff;
            font-weight: normal;

            border: 2px solid #888;
            border-radius: 50%;

            padding: 3px;
        }
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: calc(100% - 10px);
        flex: 0 0 $top-height;

        padding: $top-margin 5px 5px 5px;

        & > div {
            flex: 1;
            display: flex;
            justify-content: center;

            &:first-child > div {
                margin-right: auto;
            }
            &:last-child > div {
                margin-left: auto;
            }
        }

        &__history__buttons {
            display: flex;

            & > button {
                width: 30px;
                padding: 0;

                & > img {
                    vertical-align: middle;
                }

                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    &__tab {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        position: relative;

        & > div {

            position: absolute;

            top: -$top-margin - $header-border-width;
            left: $header-padding + $header-border-width;

            width: $tab-size;
            height: $tab-size;

            border: $header-border;
            border-width: $header-border-width;
            border-color: transparent;

            cursor: pointer;

            transition: 0.5s;

            &:after {
                content: '×';

                position: absolute;
                left: calc(-50% - #{$header-border-width + $header-padding});
                top: 50%;

                color: black;
                font-size: 2.5em;

                transition: 0.5s;

                transform: translate(-50%, -50%);
            }
        }

        &__closed > div {
            border-color: $secondary-color;
            background-color: rgba($background-color, 0.7);

            &:after {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__sections {
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        overflow-y: auto;

        scrollbar-width: thin;
        scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 65%);

        &::-webkit-scrollbar {
            width: 7px;  // vertical scrollbars
            height: 7px; // horizontal scrollbar
        }

        &::-webkit-scrollbar-track {
            background: hsl(0, 0%, 65%);
        }

        &::-webkit-scrollbar-thumb {
            background: hsl(0, 0%, 30%);
            border-radius: 15px;
        }

        & > div {
            scroll-snap-align: center;

            &:nth-child(2) > h4 {
                margin-top: 10px;
            }

            & > h4 {
                font-size: 24px;

                margin-bottom: 15px;

                cursor: default;
                transition: 0.5s;
                text-align: center;

                color: #fff;
                text-shadow: -1px 1px 3px darken(#fff, 40%);
            }

            & > div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;

                & > button {
                    font-size: 1em;
                    font-weight: bold;

                    width: 100px;
                    padding: 10px;

                    transition: 0.3s;
                    word-break: break-word;

                    color: darken($secondary-color, 5%);

                    & > div {
                        position: relative;

                        & > div {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: red;
                            display: unset;
                        }
                    }
                 }
            }
        }
    }

    &__onside {
        &#{$nav-root}__move {
            left: -$itemnav-width - $header-border-width;
        }

        #{$nav-root}__tab {
            & > div {
                border-bottom-right-radius: 15px;
            }
        }

        #{$nav-root}__sections {
            border-top: 3px solid #888;
        }
    }

    &__onbottom {
        top: unset;
        right: 0;
        width: unset;
        height: $itemnav-height;

        border-right-width: 0;
        border-top-width: $header-border-width;

        &#{$nav-root}__move {
            bottom: -$itemnav-height - $header-border-width;
        }

        #{$nav-root}__tab {
            & > div {
                left: -$tab-size - $header-border-width;
                top: -$tab-size - 3*$header-border-width - $top-margin;
                border-top-left-radius: 15px;

                &:after {
                    left: 50%;
                    top: calc(50% + #{$tab-size + $header-padding + 1.5*$header-border-width});
                }
            }

            &__closed > div {
                &:after {
                    top: 50%;
                }
            }
        }

        #{$nav-root}__sections {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            flex-wrap: wrap;

            & > div {
                width: 100%;

                h4 {
                    margin: 0;
                }

                & > div {
                    margin: 0;
                }
            }
        }
    }

}
