@import "~site/utils/constants";

.selection-popup {
    position: fixed;

    z-index: 1;

    width: 120px;
    padding: 1em;

    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 3px;
    outline: none;
    background-color: rgba(white, 0.8);

    transform: translate(0, -50%);

    & div {
        margin-top: 6px;
        margin-bottom: 2px;
    }
    & input {
        width: calc(100% - 2*2px - 2*2px);
        margin-bottom: 1px;
        padding: 2px;

        color: $secondary-color;
        border: solid 2px rgba($background-color, 0.5);
        background-color: rgba(white, 0.8);
    }
    & input[type='text'],
      input[type='color'] {
        border: 0;
        background-color: transparent;
    }

    & button {
        font-size: 0.8em;

        width: 100%;
        margin-top: 5px;
        padding: 4px;

        color: $secondary-color;
        border-width: thin;
        border-style: solid;
        border-radius: 3px;
        background-color: white;

        &:hover {
            background-color: darken(white, 5%);

        }
        &:active {
            background-color: darken(white, 10%);
        }
    }

    & select {
        width: 100%;
        margin-bottom: 1px;
        padding: 2px;

        color: $secondary-color;
        border: solid 2px rgba($background-color, 0.5);
        background-color: rgba(white, 0.8);
    }
}
