@import "~shared/utils/constants";

.selection-popup {
    position: absolute;

    z-index: 1;

    width: 170px;
    padding: 1em;

    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 3px;
    outline: none;
    background-color: rgba(white, 0.8);

    transform: translate(0, -50%);

    & .info-button {
        & div {
            display: inline-block;
            float: left;
            margin-left: 0;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;

            font-weight: bold;
        }
        & a {
            text-decoration: none;
            color:rgb(119, 111, 111);
            display: inline-block;
            font-weight: normal;
            float: right;

            border: 1.5px solid rgb(119, 111, 111);
            border-radius:50%;
            font-size:12px;
            width: 14px;
            height: 14px;

            text-align: center;
            vertical-align: middle;

            margin-left: auto;
            margin-right: 0;
        }
    }
    & > div {
        margin-top: 6px;
        margin-bottom: 2px;
    }
    & label > div, input {
        width: calc(100% - 2*2px - 2*2px);
    }
    & input {
        margin-bottom: 1px;
        padding: 2px;

        color: $secondary-color;
        border: solid 2px rgba($background-color, 0.5);
        background-color: rgba(white, 0.8);
    }
    & input[type='text'],
      input[type='color'] {
        border: 0;
        background-color: transparent;
    }

    & button {
        font-size: 0.8em;

        width: 100%;
        margin-top: 5px;
        padding: 4px;

        color: $secondary-color;
        border-width: thin;
        border-style: solid;
        border-radius: 3px;
        background-color: white;

        &:hover {
            background-color: darken(white, 5%);

        }
        &:active {
            background-color: darken(white, 10%);
        }
    }

    & .switchtoggle > span {
        margin-left: 12px;
    }

    & select {
        width: 100%;
        margin-bottom: 1px;
        padding: 2px;

        color: $secondary-color;
        border: solid 2px rgba($background-color, 0.5);
        background-color: rgba(white, 0.8);
    }
}
