.exprToCircuitPopup {
    padding: 0px;
    margin: 0px 50px;
    top: 0px;
    left: 0px;

    input[type=text] {
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 2px solid #cccccc;
        border-radius: 10px;
    }
}
