@import "~shared/utils/theme";

.exprToCircuitPopup {
    padding: 0px;
    margin: 0px 50px;
    top: 0px;
    left: 0px;

    label {
        vertical-align: middle;
        color: $secondary-color;
    }

    button {
        line-height: 30px;
        height: 30px;
        margin-top: 5px;
        padding-right: 7px;
        padding-left: 7px;
        cursor: pointer;
        transition: 0.5s;
        color: #fff;
        border-radius: 4px;
        float: right;

        &:enabled:hover {
            color: #ccc;
            border-color: #aaa;
        }
    }

    .generate {
        background-color: $success-color;

        &:enabled:hover {
            background-color: darken($success-color, 10%);
        }
    }

    .cancel {
        background-color: $danger-color;
        margin-right: 10px;

        &:enabled:hover {
            background-color: darken($danger-color, 20%);
        }
    }

    input[type=text] {
        box-sizing: border-box;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0px;
        border: 2px solid $background-color;
        border-radius: 10px;
        font-size: 1.35em;
    }

    input[type=checkbox], input[type=radio] {
        -webkit-appearance: none;
        background-color: #fff;
        border-width: 0px 2px 0px;
        border-style: solid;
        border-color: $background-color;
        padding: 9px 6.5px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        vertical-align: middle;

        &:active {
            background-color: $background-color;
            border-color: $background-color;
        }

        &:checked {
            background-color: #5ccee7;
            border-color: #5ccee7;

            &:active {
                background-color: #4ba9bd;
                border-color: #4ba9bd;
            }
        }
    }

    .exprToCircuitPopupSettings {
        display: flex;

        h3 {
            margin: 15px 0px 2px;
            font-size: 1.25em;
            color: #666;
        }

        .exprToCircuitPopupNotation {
            flex-grow: 1;
        }

        .exprToCircuitPopupOptions {
            flex-grow: 1;
        }
    }

    .errorMessage {
        color: $danger-color;
        font-weight: bold;
    }
}
