@import "~shared/utils/constants";

$tab-width: 18px;
$tab-padding: 8px;


.itemnav {
    $top-margin: 10px;
    $top-height: 35px;

    position: absolute;
    z-index: 2;

    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: $itemnav-width;

    transition: all 0.5s;

    border: $header-border;
    border-right-width: $header-border-width;
    background-color: rgba($background-color, 0.7);

    @media (max-width: $desktop-width) and (orientation:portrait) {
        top: unset;
        right: 0;
        width: unset;
        height: $itemnav-height;

        border-right-width: 0;
        border-top-width: $header-border-width;
    }

    &__move {
        @media (min-width: $desktop-width), (orientation:landscape) {
            left: -$itemnav-width - $header-border-width;
        }

        @media (max-width: $desktop-width) and (orientation:portrait) {
            bottom: -$itemnav-height - $header-border-width;
        }
    }

    & img {
        width: 100%;
    }

    &__preview {
        position: fixed;
        z-index: 100;
        pointer-events: none;
        transform: translate(-50%, -50%);

        & img {
            position: relative;

            width: 80px;
            height: 80px;
            z-index: 100;

            opacity: 1;

            filter: drop-shadow(3px 3px 4px #888);
        }
        & > span {
            display: table-cell;

            position: absolute;
            left: calc(100% - 10px);
            top: 0;
            z-index: 101;
            transform: translate(-50%, -10px);

            vertical-align: middle;
            text-align: center;

            color: #888;
            background-color: #fff;
            font-weight: normal;

            border: 2px solid #888;
            border-radius: 50%;

            padding: 3px;
        }
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: calc(100% - 10px);
        flex: 0 0 $top-height;

        padding: $top-margin 5px 5px 5px;

        & > div {
            flex: 1;
            display: flex;
            justify-content: center;

            &:first-child > button {
                margin-right: auto;
                margin-left: 5px;
            }
            &:last-child > div {
                margin-left: auto;
            }
        }

        &__history__buttons {
            display: flex;

            & > button {
                width: 30px;
                padding: 0;

                & > img {
                    vertical-align: middle;
                }

                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    &__tab {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        position: relative;

        & > div {
            $size: $top-height + $top-margin + 5px;

            position: absolute;

            top: -$top-margin - $header-border-width;
            left: $header-border-width + 5px;

            width: $size;
            height: $size;

            border: $header-border;
            border-width: $header-border-width;
            border-color: transparent;

            cursor: pointer;
            pointer-events: none;

            transition: 0.5s;

            @media (min-width: $desktop-width), (orientation:landscape) {
                border-bottom-right-radius: 15px;
            }

            @media (max-width: $desktop-width) and (orientation:portrait) {
                left: -$size - $header-border-width;
                top: -$size - 3*$header-border-width - $top-margin;
                border-top-left-radius: 15px;
            }

            &::after {
                content: "×";
                pointer-events: all;
                position: absolute;
                left: calc(-50% - #{$header-border-width});
                top: 50%;

                color: black;
                font-size: 2.5em;

                transition: 0.5s;

                transform: translate(-50%, -50%);

                @media (max-width: $desktop-width) and (orientation:portrait) {
                    left: 50%;
                    top: calc(50% + #{$size + $header-border-width + 5px});
                }

            }
        }

        &__closed > div {
            border-color: $secondary-color;
            background-color: rgba($background-color, 0.7);
            pointer-events: all;

            &::after {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);

                @media (max-width: $desktop-width) and (orientation:portrait) {
                    top: 50%;
                }
            }
        }
    }

    &__sections {

        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        overflow-y: auto;

        scrollbar-width: thin;
        scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 65%);

        @media (min-width: $desktop-width), (orientation:landscape) {
            border-top: 3px solid #888;
        }

        @media (max-width: $desktop-width) and (orientation:portrait) {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            flex-wrap: wrap;

            margin: 0 15px;
        }

        &::-webkit-scrollbar {
            width: 7px;  // vertical scrollbars
            height: 7px; // horizontal scrollbar
        }

        &::-webkit-scrollbar-track {
            background: hsl(0, 0%, 65%);
        }

        &::-webkit-scrollbar-thumb {
            background: hsl(0, 0%, 30%);
            border-radius: 15px;
        }

        &.dragging {
            overflow: hidden !important;
            padding-right: 7px;
        }

        & > div {
            scroll-snap-align: center;

            @media (max-width: $desktop-width) and (orientation:portrait) {
                width: 100%;
            }

            &:nth-child(2) > h4 {
                margin-top: 10px;
            }

            & > h4 {
                font-size: 24px;

                margin-bottom: 15px;

                cursor: default;
                transition: 0.5s;
                text-align: center;

                color: #fff;
                text-shadow: -1px 1px 3px darken(#fff, 40%);

                @media (max-width: $desktop-width) and (orientation:portrait) {
                    margin: 0;
                }
            }

            & > div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;

                @media (max-width: $desktop-width) and (orientation:portrait) {
                    margin: 0;
                }

                & > div {
                    $item-container-width: 100px;
                    $item-container-padding: 10px;
                    $item-width: $item-container-width - 2*$item-container-padding;

                    position: relative;
                    display: inline-block;

                    text-align: center;
                    align-items: flex-start;
                    box-sizing: border-box;

                    font-size: 1em;
                    font-weight: bold;

                    padding: 0;
                    margin: 0;

                    width: $item-container-width;
                    padding: $item-container-padding;

                    transition: 0.3s;
                    word-break: break-word;

                    color: darken($secondary-color, 5%);

                    & > button > img {
                        width: $item-width;
                        height: $item-width;
                    }

                    & > div {
                        position: absolute;
                        top: 5px;
                        right: 15px;
                        color: red;
                        display: unset;
                    }
                 }
            }
        }
    }

}
