@import "~shared/utils/constants", "~shared/utils/theme", "../constants";


.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    margin-right: 19px;

    @media (max-width: 700px) {
        flex: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-right: 9px;
    }


    & > button {
        display: none;

        padding: 0 10px;

        height: $header-height - 2*$header-padding;
        margin-top: $header-padding;

        & > img {
            width: 40px;
        }

        @media (max-width: 600px) {
            display: inherit;
            margin-bottom: 2*$header-padding;
        }
    }

    &__btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 600px) {
            padding: 0 10px 10px 10px;
            border-radius: 0 0 5px 5px;
            background-color: $primary-color;

            flex-direction: column;
            justify-content: flex-start;

            & > div:first-child {
                display: none;
            }
        }

        // @media (max-width: 600px) {
        //     flex-direction: column;
        //     justify-content: flex-start;
        // }

        & div {
            // float: right;

            height: $header-height - 2*$header-padding;
            margin-top: $header-padding;

            cursor: pointer;
        }
        & button {
            height: $header-height - 2*$header-padding;
            margin-left: $header-padding;

            @media (max-width: 600px) {
                margin-left: 0;
            }

            cursor: pointer;
        }
        & img {
            display: block;

            height: 85%;
            margin: auto;
        }
        #header-help-img {
            height: 75%;
        }
    }

    &__collapsed {
        // Collapsing the header only matters for small-screens
        //  when the dropdown shows up
        @media (max-width: 700px) {
            display: none;
        }
    }

    &__dropdown {
        position: relative;

        display: inline-block;

        & div {
            height: auto;
            margin-top: 0;
        }

        &__content {
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1;

            padding: 10px;
            padding-top: 15px;

            border-radius: 6px 0 6px 6px;
            background-color: #fff;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
            
            overflow-y: auto;

            & h1 {
                font-size: 1.5em;

                margin: 0;
                margin-top: 10px;
                padding: 0;

                color: darken($secondary-color, 20%);
            }
            & h1:first-child {
                margin-top: 0;
            }
            & hr {
                margin: 0;
            }
            & span {
                padding: 12px 16px;

                color: $secondary-color;
            }
            & img {
                display: inline;

                vertical-align: middle;
            }
            & div {
                float: left;

                width: 100%;
                height: 40px;
                margin-top: 5px;

                white-space: nowrap;
            }
            & div:last-child {
                padding-bottom: 0;
            }
            & div:hover {
                background-color: #f1f1f1;
            }

            .disabled {
                background-color: darken(white, 10%);
            }
            .hide-link {
                text-decoration: none;
            }
        }
        &:hover &__button {
            background-color: lighten($primary-color, 10%);
        }
    }

    &__account {
        margin-top: 0;
        margin-right: 10px;

        cursor: default;

        & div {
            margin-top: 0;
        }
        & button {
            line-height: $header-button-height;

            float: right;

            height: $header-button-height;
            margin-top: $header-padding;
            margin-left: 0;
            padding-right: 5px;
            padding-left: 5px;

            cursor: pointer;

            color: #aaa;
            border: thin solid #888;
            border-radius: 4px;

            &:hover {
                color: #bbb;
                border-color: #aaa;
            }
        }

        #header-login-or {
            margin-right: 10px;
            margin-left: 10px;

            color: #aaa;
        }

        @media (max-width: 500px) {
            & {
                display: none;
            }
        }
    }
}

// .header__right__alt {
//     display: none;
// }
// }


// @media (max-width: 450px) {
//     .header__right__alt {
//         margin-right: 14px;
//         top: 10px;
//         right: 10px;
//         position: fixed;

//         & #hidden {
//             display: none;
//         }

//         & img {
//             width: 40px;
//             height: 40px;
//             border-radius: 10px;
//         }

//         & .expand {
//             transform: scale(1.75);
//             margin-bottom: 15px;
//         }

//         & #notHidden {
//             list-style-type: none;
//             background-color: white;
//             border-radius: 6px 6px 6px;
//             box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
//         }
//     }

//     .header__right {
//         display: none;
//     }
// }
