@import "~shared/utils/constants", "~shared/utils/theme", "../constants";


.header__right {
    padding: 5px 0;

    &__wrapper {
        @media (max-width: $collapse-breakpoint) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            align-self: flex-start;
        }

        & > button {
            display: none;

            @media (max-width: $collapse-breakpoint) {
                display: flex;
                flex-direction: row;
                justify-content: center;

                width: 100%;

                padding: 0 10px;
            }
        }
    }


    &__btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        height: 100%;

        & > * {
            margin-left: 5px;
        }

        @media (max-width: $collapse-breakpoint) {
            padding: 0 10px 10px 10px;
            border-radius: 0 0 5px 5px;
            background-color: $primary-color;

            height: unset;

            flex-direction: column;
            justify-content: flex-start;

            & > * {
                margin-top: 10px;
                margin-left: 0;
            }

            & > div:first-child {
                display: none;
            }
        }

        & div, button {
            cursor: pointer;
        }
        #header-help-img {
            height: 75%;
        }
    }

    &__collapsed {
        // Collapsing the header only matters for small-screens
        //  when the dropdown shows up
        @media (max-width: $collapse-breakpoint) {
            display: none;
        }
    }

    &__dropdown {
        position: relative;

        display: inline-block;

        & > button {
            display: block;
        }

        & div {
            height: auto;
            margin-top: 0;
        }

        &__content {
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1;

            padding: 10px;
            padding-top: 15px;

            border-radius: 6px 0 6px 6px;
            background-color: #fff;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

            overflow-y: auto;

            & h1 {
                font-size: 1.5em;

                margin: 0;
                margin-top: 10px;
                padding: 0;

                color: darken($secondary-color, 20%);
            }
            & h1:first-child {
                margin-top: 0;
            }
            & hr {
                margin: 0;
            }
            & span {
                padding: 12px 16px;
                color: $secondary-color;
                vertical-align: middle;
            }
            & img {
                display: inline;
                margin-top: 3px;
                vertical-align: middle;
            }
            & div {
                float: left;

                width: 100%;
                height: 40px;
                margin-top: 5px;

                white-space: nowrap;
            }
            & div:last-child {
                padding-bottom: 0;
            }
            & div:hover {
                background-color: #f1f1f1;
            }

            .disabled {
                background-color: darken(white, 10%);
            }
            .hide-link {
                text-decoration: none;
            }
        }
        &:hover &__button {
            background-color: lighten($primary-color, 10%);
        }
    }

    &__account {
        margin-top: 0;
        margin-right: 10px;

        cursor: default;

        & div {
            margin-top: 0;
        }
        & button {
            line-height: $header-button-height;

            float: right;

            height: $header-button-height;
            margin-left: 0;
            padding-right: 5px;
            padding-left: 5px;

            cursor: pointer;

            color: #aaa;
            border: thin solid #888;
            border-radius: 4px;

            &:hover {
                color: #bbb;
                border-color: #aaa;
            }
        }

        #header-login-or {
            margin-right: 10px;
            margin-left: 10px;

            color: #aaa;
        }

        @media (max-width: 500px) {
            display: none;
        }
    }
}
