<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <title> OpenCircuits| about us</title>

    <meta name="title" content="OpenCircuits — free online digital circuit designer">
    <meta name="Description" content="Make circuits from the comfort of your brower with Opencircuits">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://opencircuits.io/">
    <meta property="og:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="og:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="og:image" content="img/external_image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://opencircuits.io/">
    <meta property="twitter:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="twitter:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="twitter:image" content="external_image.png">


    <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="theme-color" content="#999"/>


    <link rel="manifest" href="img/manifest.json">





    <link rel="stylesheet" href="../css/aboutpage.css">
</head>


<body>

    <div class = "topline" >About OpenCircuits:</div>

    <div class = "maintext">  
    OpenCircuits a <a href = "https://rcos.io/">Rensselaer Center for Open Source</a> Project for designing digital and analog circuits.
    </div>

    <div class = "smalltitle" >Founder:</div>
    <div class = "authors"> 
        <ul style="list-style: none;">
            <li>Leon Montealegres</li>
        </ul>
    </div>
    <div class = "smalltitle" >Developers:</div>
    <div class = "authors"> 
        <ul style="list-style: none;">
            <li>Jonathon Schmalz (Fall 2018 - current)</li>
            <li>Audrey Baxter (Spring 2019 - current)</li>
            <li>Hari Channagiri (Spring 2019 - current)</li>
            <li>Kevin Mackenzie (Spring 2019 - current)</li>
            <li>Max Griffon (Spring 2019 - current)</li>
            <li>Rylan Gupta (Fall 2018, Fall 2019 - current)</li>
            <li>Maria Ruiz (Spring 2019 - current)</li>
            <li>Tyler Bejel (Fall 2019 - current)</li>
            <li>Robbie Dexter (Fall 2019 - current)</li>
            <li>Vincent Huang (Fall 2019 - current)</li>
            <li>Chris Lambertson (Fall 2019 - current)</li>
            <li>Natasha Rosa (Fall 2019 - current)</li>
            <li>Daniel Wisdom(Fall 2019 - current)</li>
            <li>Rahul Jain (Spring 2019)</li>
            <li>Hannah Lim (Spring 2019)</li>
            <li>Terry Nguyen (Spring 2019)</li>
            <li>Rohan Patel (Spring 2019)</li>
            <li>Noah Prisament (Spring 2019)</li>
            <li>Samuel Guava (Fall 2018)</li>
            <li>Jonah Leventhal (Fall 2018)</li>
            <li>Daniel Tabin (Fall 2018)</li>

        </ul>
    </div>
    <br>
    <br>

    <div class = "footer">
        <p>an <a href = "https://rcos.io">RCOS</a> project</p>
    </div>



</body>

</html>