<!DOCTYPE HTML>
<html>

<head>
    <title> OpenCircuits| about us</title>

    <meta name="title" content="OpenCircuits — free online digital circuit designer">
    <meta name="Description" content="Make circuits from the comfort of your brower with Opencircuits">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://opencircuits.io/">
    <meta property="og:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="og:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="og:image" content="img/external_image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://opencircuits.io/">
    <meta property="twitter:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="twitter:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="twitter:image" content="external_image.png">


    <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="theme-color" content="#999"/>


    <link rel="manifest" href="img/manifest.json">





    <link rel="stylesheet" href="css/aboutpage.css">
</head>


<body>

    About Us: 

</body>

</html>