<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <title> OpenCircuits| about us</title>

    <meta name="title" content="OpenCircuits — free online digital circuit designer">
    <meta name="Description" content="Make circuits from the comfort of your brower with Opencircuits">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://opencircuits.io/">
    <meta property="og:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="og:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="og:image" content="img/external_image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://opencircuits.io/">
    <meta property="twitter:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="twitter:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="twitter:image" content="external_image.png">


    <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="theme-color" content="#999"/>


    <link rel="manifest" href="img/manifest.json">





    <link rel="stylesheet" href="../css/aboutpage.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">

</head>


<body>
    <div id="navbar">
        <img id="gitbutton" src="../img/icons/github.svg" onclick="window.location.href = 'https://github.com/OpenCircuits';" target="_blank">
        <li> <a href = "/home"> home </a>  </li>
        <li> <a id="about-link" href = "/home/about" > about </a> </li>  
    </div>


    <div class = "allText">



    <div class = "topline" >About OpenCircuits:</div>

    <div class = "maintext">  
    OpenCircuits is a <a href = "https://rcos.io/">Rensselaer Center for Open Source</a> Project for designing digital and analog circuits. <br>
    </div>

    <div class = "smalltitle" >Founder:</div>
    <div class = "authors"> 
            Leon Montealegres<br>
    </div>
    <div class = "smalltitle" >Developers:</div>
    <div class = "authors"> 
            Jonathon Schmalz (Fall 2018 - current)<br>
            Audrey Baxter (Spring 2019 - current)<br>
            Hari Channagiri (Spring 2019 - current)<br>
            Kevin Mackenzie (Spring 2019 - current)<br>
            Max Griffon (Spring 2019 - current)<br>
            Rylan Gupta (Fall 2018, Fall 2019 - current)<br>
            Maria Ruiz (Spring 2019 - current)<br>
            Tyler Bejel (Fall 2019 - current)<br>
            Robbie Dexter (Fall 2019 - current)<br>
            Vincent Huang (Fall 2019 - current)<br>
            Chris Lambertson (Fall 2019 - current)<br>
            Natasha Rosa (Fall 2019 - current)<br>
            <a href = "https://github.com/dwisdom751">Daniel Wisdom(Fall 2019 - current) </a><br>
            Rahul Jain (Spring 2019)<br>
            Hannah Lim (Spring 2019)<br>
            Terry Nguyen (Spring 2019)<br>
            Rohan Patel (Spring 2019)<br>
            Noah Prisament (Spring 2019)<br>
            Samuel Guava (Fall 2018)<br>
            Jonah Leventhal (Fall 2018)<br>
            Daniel Tabin (Fall 2018)<br>
    </div>
    </div>

    <div class = "footer">
        <p>an <a href = "https://rcos.io">RCOS</a> project</p>
    </div>



</body>

</html>