<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Open Circuits EE"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
        <meta name="theme-color" content="#999"/>

        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="img/manifest.json">
        <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">

        {{ range $a := .authData.Headers }}
            {{ $a }}
        {{ end }}

        <title>Open Circuits EE</title>
    </head>
    <body>
        <div id="loading-screen" class="loading__screen">
            <div class="loading__screen__background"></div>
            <img class="loading__screen__logo" src="img/analog/icons/logo.svg"/>
        </div>

        <div id="overlay" class="overlay invisible"></div>

        {{template "sidenav" .}}

        <div id="content" class="content">
            {{template "header" "img/analog/icons/logo.svg"}}

            {{template "loginpopup" .}}

            {{template "quickstartpopup" .}}

            {{template "itemnav" .}}
            <div id="itemnav-open-tab" class="tab"></div>

            <canvas id="canvas" class="canvas"></canvas>

            <div id="selection-popup" class="selectionpopup" tabindex="-1">
                <input id="popup-name" type="text" value="Name :" alt="Name of object(s)"/>
                <hr/>
                <div id="popup-pos-text">Position
                    <label id="popup-position-label" unselectable disabled>
                        <input id="popup-position-x" type="number" step="0.5" alt="X-Position of object(s)"/>
                        <input id="popup-position-y" type="number" step="0.5" alt="Y-Position of object(s)"/>
                    </label>
                </div>
            </div>

            {{template "contextmenu" .}}
        </div>

        <script src="{{.bundleJs}}"></script>
    </body>

</html>
