{{define "header"}}
<header id="header">
    <div class="header__left">
        <span id="header-sidenav-open-tab" role="button" tabindex="0"
              class="header__left__sidenavbutton">&#9776;</span>
        <input id="header-project-name-input" class="header__left__projectname" type="text"
               value="Untitled Circuit*" alt="Name of project">
    </div>

    <div class="header__center">
        <img id="logo" class="header__center__logo" src="img/icons/logo.svg" height="100%" alt="OpenCircuits logo"/>
    </div>

    <div class="header__right">
        <div>
            <button type="button" onclick="document.getElementById('header-file-input').click();">
                <img src="img/icons/open.svg" height="100%" alt="Open a file"/>
            </button>
        </div>
        <input id="header-file-input" type="file" name="name" style="display: none;" multiple="false"
               required="true" accept=".circuit,.xml"/>

        <div class="header__right__dropdown">
            <button id="header-download-dropdown-button" class="header__right__dropdown__button">
                <img src="img/icons/download.svg" height="100%" alt="Download current scene"/>
            </button>
            <div id="header-download-dropdown-content" class="header__right__dropdown__content">
                <div id="header-new-button" type="button">
                    <img src="img/icons/download.svg" height="100%" alt="Push current scene"/>
                    <a>New Circuit</a>
                </div>
                <div id="header-download-button" type="button">
                    <img src="img/icons/download.svg" height="100%" alt="Download current scene"/>
                    <a>Download</a>
                </div>
                <div id="header-download-pdf-button" type="button">
                    <img src="img/icons/pdf_download.svg" height="100%" alt="Download current scene as PDF"/>
                    <a>Download as PDF</a>
                </div>
                <div id="header-download-png-button" type="button">
                    <img src="img/icons/png_download.svg" height="100%" alt="Download current scene as PNG"/>
                    <a>Download as PNG</a>
                </div>
            </div>
        </div>

        <div class="header__right__account">
            <div id="header-login-container" class="header__right__account__login">
                <button id="header-signin-button">Sign In</button>
                <span id="header-login-or">or</span>
                <button id="header-createaccount-button">Create Account</button>
            </div>
            <button id="header-signout-button" class="hide">Sign Out</button>
        </div>
    </div>
</header>
{{end}}
