{{define "icdesigner"}}
<div id="ic-designer">
    <canvas id="ic-canvas" class="icdesigner"></canvas>
    <div class="icbuttons">
        <button id="ic-confirmbutton" class="icbuttons__button" alt="Submit IC">
            Confirm
        </button>
        <button id="ic-cancelbutton" class="icbuttons__button" alt="Cancel IC">
            Cancel
        </button>
    </div>
</div>
{{end}}
