{{define "icviewer"}}
<div id="ic-viewer" class="icviewer">
    <canvas id="icviewer-canvas"></canvas>
    <div class="icviewer__buttons">
        <!-- <button id="icviewer-editbutton" class="icviewer__buttons__edit" alt="Edit IC">
            Edit
        </button> -->
        <button id="icviewer-closebutton" class="icviewer__buttons__close" alt="Close">
            Close
        </button>
    </div>
</div>
{{end}}
