<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8"/>
    <title> Open Circuits | Library</title>

    <meta name="title" content="OpenCircuits — free online digital circuit designer">
    <meta name="Description" content="Make circuits from the comfort of your brower with Opencircuits">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://opencircuits.io/">
    <meta property="og:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="og:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="og:image" content="img/external_image.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://opencircuits.io/">
    <meta property="twitter:title" content="OpenCircuits — free online digital circuit designer">
    <meta property="twitter:description" content="OpenCircuits is an online digital circuit designer and simulator. Easy to use and completely free. Create your own circuits or experiment with others!">
    <meta property="twitter:image" content="external_image.png">

    <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="theme-color" content="#999"/>

    <link rel="manifest" href="img/manifest.json">

    <link rel="stylesheet" href="../css/library.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">

</head>

<div id="navbar">
    <a href="https://github.com/OpenCircuits/OpenCircuits/" target="_blank">
        <img id="github" class="navbar_github" src="../img/icons/github.svg" height="100%" alt="GitHub logo"/>
    </a>
    <a id="home-link" class="navbar_home" href = "/home"> Home </a>
    <a id="about-link" class="navbar_about" href = "/home/about" > About </a> 
</div>

<body>
    <div class = "library_header_1">  
    <h2> IC Library </h2>
    These Integrated Circuits can be easily imported into any OpenCircuits project.
    </div>
    
    <div class = "library_container">
        <div class = "ic_container">
            <img id="library-img-1" src="/img/thumbnails/example1.png" alt="Example 1"/>
            <h4> AND Gate </h4>
            <br/>
            This IC is an simply an AND gate. Although redundant to include it as an IC, it is simply for testing purposes.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-1" type="button" data-uuid="1">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-2" src="/img/thumbnails/example2.png" alt="Example 2"/>
            <h4> SR Latch </h4>
            <br/>
            This "set-reset" or SR Latch is in a stable state as long as all three inputs are not on. In these stable states, the two outputs will always be opposites.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-2" type="button" data-uuid="2">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-3" src="/img/thumbnails/example3.png" alt="Example 3"/>
            <h4> 7-Segment Display IC </h4>
            <br/>
            This IC provides functionality to a 7 segment display using only 4 inputs. Only 16 possible outputs are observable from the display due to this small input count.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-3" type="button" data-uuid="3">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-4" src="/img/thumbnails/Full_Adder_circuit.png" alt="Example 4"/>
            <h4> Full Adder </h4>
            <br/>
            This IC performs an addition operator on three 1-bit binary numbers. It outputs the sum of the three inputs as well as a carry value for future adding.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-4" type="button" data-uuid="4">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-5" src="/img/thumbnails/example1.png" alt="Example 5"/>
            <h4> AND Gate </h4>
            <br/>
            This IC is an simply an AND gate. Although redundant to include it as an IC, it is simply for testing purposes.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-5" type="button" data-uuid="5">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-6" src="/img/thumbnails/example2.png" alt="Example 6"/>
            <h4> SR Latch </h4>
            <br/>
            This "set-reset" or SR Latch is in a stable state as long as all three inputs are not on. In these stable states, the two outputs will always be opposites.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-6" type="button" data-uuid="6">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-7" src="/img/thumbnails/example3.png" alt="Example 7"/>
            <h4> 7-Segment Display IC </h4>
            <br/>
            This IC provides functionality to a 7 segment display using only 4 inputs. Only 16 possible outputs are observable from the display due to this small input count.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-7" type="button" data-uuid="7">
            Import
            </button>
        </div>

        <div class = "ic_container">
            <img id="library-img-8" src="/img/thumbnails/Full_Adder_circuit.png" alt="Example 8"/>
            <h4> Full Adder </h4>
            <br/>
            This IC performs an addition operator on three 1-bit binary numbers. It outputs the sum of the three inputs as well as a carry value for future adding.
            <br/>
            <h2> Creator: </h2> OpenCircuits
            <br/>
            <button id="library-button-8" type="button" data-uuid="8">
            Import
            </button>
        </div>
    </div>

</body>

</html>