{{define "loginpopup"}}
<div id="login-popup" class="login__popup invisible">
    <h1>Sign In</h1>
    <hr/>
    {{ range $a := .authData.Buttons }}
        <div type="button">{{ $a }}</div>
        <hr/>
    {{ end }}
    <div class="login__popup__label">Email</div>
    <input type="email" name="email" aria-label="Email" aria-required="true" required="required" value="" tabindex="0">
    <div class="login__popup__label">Password</div>
    <div class="login__popup__password__container">
        <input type="password" name="password" aria-label="Password" aria-required="true" required="required" value="" tabindex="0">
        <span class="login__popup__password__link">
            <a role="link" tabindex="0" class="login__popup__password__recoverpassword" ontap="">Forgot your password?</a>
        </span>
    </div>
    <button type="submit">Sign In</button>
    <div class="login__popup__text">or</div>
    <button type="submit">Create an Account</button>
</div>
{{end}}
