{{define "sidenav"}}
<div id="sidenav" class="sidenav sidenav__move">
    <div class="sidenav__accountinfo">
        {{ .userId }}
    </div>
    <div class="sidenav__content">
        <h4>
            <label class="sidenav__content__switch">
                <input id="sidenav-mode-checkbox" type="checkbox" checked/>
                <span class="sidenav__content__slider"></span>
            </label>
        </h4>
        <h4 unselectable>My Circuits</h4>
        <h4 unselectable>Examples</h4>
        <div id="example-circuit-list">
            {{ range $i, $example := .examples }}
                {{ template "sidenavcircuit" $example }}
            {{end}}
        </div>
        <div class="sidenav__content__footer">
            A program made with love by <a href="http://www.leonmontealeg.re/" target="_blank">Leon Montealegre</a>
            and our great <a href="https://www.github.com/OpenCircuits/OpenCircuits/blob/master/AUTHORS.md" target="_blank">team</a>
        </div>
    </div>
</div>
{{end}}
