{{define "sidenav"}}
<div id="sidenav" class="sidenav shrink">
    <div class="sidenav__accountinfo">
        {{ .userId }}
    </div>
    <div class="sidenav__content">
        <h4>
            <label class="sidenav__content__switch">
                <input id="sidenav-mode-checkbox" type="checkbox" checked/>
                <span class="sidenav__content__slider"></span>
            </label>
        </h4>
        <h4 unselectable>My Circuits</h4>
        <h4 unselectable>Examples</h4>
    </div>
</div>
{{end}}
