@import "~site/utils/constants", "~site/utils/theme", "./constants";

header {
    position: fixed;
    z-index: 3;

    width: 100%;
    height: $header-height;
    padding: $header-padding;

    border: $header-border;
    border-bottom-width: $header-border-width;
    background-color: $primary-color;
}

.header__center {
    position: absolute;
    bottom: 0;
    left: 50%;

    color: $secondary-color;

    $logo-width: 200px;
    $github-margin: 10px;

    &__logo {
        top: 2px;

        width: $logo-width;
        margin-left: -$logo-width/2;

        @extend .header__center;
    }

    &__github {
        top: 8px;

        width: $header-height - 2*$header-padding;
        height: $header-height - 2*$header-padding;
        margin-left: $logo-width/2 + $github-margin;

        @extend .header__center;
    }

    @media (max-width: 900px) {
        & {
            display: none;
        }
    }
}

#header-login-dropdown-content {
    height: auto;
    margin-top: 0;
}
div.header__login__option {
    height: auto;
}
/*
    TRIANGLE THINGY FOR 'POPOVER' MENU
    https://ux.stackexchange.com/questions/117118/what-is-the-difference-between-popover-menu-drop-down-menu-fly-out-menu
    https://codepen.io/mihaeltomic/pen/PqxVaq?editors=1100
    might be useful for future
 */
/* .header__dropdown__content:before {
    position: absolute;
    content: "";
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
} */
