@use "sass:math";
@import "~shared/utils/theme";

$sidenav-width: 250px;
$sidenav-border-width: 5px;

$sidenav-message-margin: 25px;

$sidenav-footer-height: 50px;
$sidenav-footer-margin-y: 10px;


// For status indicator when loading a circuit
.overlay > div {
    position: absolute;
    left: calc(50% + math.div($sidenav-width, 2));
    top: 50%;

    width: 120px;
    height: 120px;

    border: 16px solid gray;
    border-top: 16px solid darkgray;
    border-radius: 50%;

    opacity: 0.5;

    animation: spin 1s linear infinite;

    @keyframes spin {
        0%   { transform: translate(-50%, -50%) scale(1)   rotate(0deg); }
        50%  { transform: translate(-50%, -50%) scale(1.2) rotate(180deg); }
        100% { transform: translate(-50%, -50%) scale(1)   rotate(360deg); }
    }
}


.sidenav {
    position: fixed;
    z-index: 6;
    left: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    width: $sidenav-width;
    height: 100%;

    transition: all 0.5s;

    border: 0 solid $secondary-color;
    border-right-width: $sidenav-border-width;
    background-color: $primary-color;

    &__move {
        left: -$sidenav-width - $sidenav-border-width;
    }

    &__accountinfo {
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;

        height: 60px;
        padding-left: 0.5em;

        color: $secondary-color;
        border: 0 solid $secondary-color;
        border-bottom-width: 3px;
        background-color: lighten($primary-color, 20%);

        &__name {
            width: 150px;
            height: 60px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__sign {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    // New Circuit button
    & > button {
        display: block;

        width: $sidenav-width;

        padding: 0.85em 0.75em 0.75em 0.5em;

        font-size: 24px;
        text-align: left;

        color: lighten($secondary-color, 10%);
        border-bottom: solid math.div($sidenav-border-width,3) $secondary-color;

        & > span {
            padding: 5px 12px;
            border: 2px solid $secondary-color;
            border-radius: 30px;
            margin-right: 10px;
        }

        &:hover {
            & > span {
                background-color: transparentize($secondary-color, 0.7);
            }
        }
    }

    &__content {
        // max-height: 100%;
        flex: 1;

        & h4 {
            font-size: 24px;

            display: block;

            margin: 0;
            padding: 0.5em 1em 0.5em 0.5em;

            cursor: default;
            transition: 0.5s;

            color: lighten($secondary-color, 10%);
            border: 0 solid $secondary-color;
            border-top-width: 3px;
            border-bottom-width: 3px;
            background-color: lighten($primary-color, 10%);
        }

        &__circuits-loading {
            width: 40px;
            height: 40px;

            border: 8px solid gray;
            border-top: 8px solid darkgray;
            border-radius: 50%;

            margin: 20px;

            opacity: 0.5;

            animation: spin2 1s linear infinite;

            @keyframes spin2 {
                0%   { transform: scale(1)   rotate(0deg); }
                50%  { transform: scale(1.2) rotate(180deg); }
                100% { transform: scale(1)   rotate(360deg); }
            }
        }

        &__footer {
            height: 120px;
            padding: 50px 25px 50px 25px;

            text-align: center;

            color: $secondary-color;

            & a {
                text-decoration: none;

                color: lighten($secondary-color, 25%);
            }
        }
    }

    &__footer {
        position: relative;

        height: $sidenav-footer-height;
        padding: 10px 25px 10px 25px;

        flex-shrink: 0;

        &__history {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    &__circuit {
        $img-width: 50px;
        $height: 50px;
        $padding-v: 4px;
        $padding-h: 6px;

        height: $height;
        padding: $padding-v $padding-h $padding-v $padding-h;

        cursor: pointer;

        border-bottom: solid math.div($sidenav-border-width,3) $secondary-color;
        background-color: lighten($primary-color, 5%);

        cursor: pointer;
        display: flex;

        &__icon {
            img {
                width: $img-width;
                height: $img-width;

                border-radius: 5px;
                background-color: $background-color;
            }
            width: $img-width;
            padding: 0 5px 0 0;
        }
        &__text {
            display: inline-block;

            flex-grow: 1;
            width: 50px;

            vertical-align: top;
            & div {
                display: block;
                overflow: hidden;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__name {
                font-weight: bold;

                margin-top: 7px;
            }
        }
        &__controls {
            width: 20px;
            padding: 0 0 0 5px;
            img.circuit_options {
                height: 100%;
            }
        }
    }
}

.sidenav__shift {
    margin-left: $sidenav-width;
}
