# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build, Test, Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.24

    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - run: yarn

    - name: Build backend [Golang]
      run: yarn build --ci server

    - name: Build frontend [TypeScript]
      run: yarn build --ci --prod digital

    - name: Build docs
      run: |
        yarn build:jsdocs
        yarn build:docs

  test-app:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - run: yarn

    - name: Run tests (App) [TypeScript]
      run: yarn test  --ci app

  test-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - run: yarn

    - name: Run tests (Shared) [TypeScript]
      run: yarn test  --ci shared

    - name: Run tests (Digital) [TypeScript]
      run: yarn test  --ci digital

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x

    - run: yarn

    - name: Lint files [TypeScript]
      run: yarn lint
